<nz-layout class="main-page-layout">
    <nz-header class="main-page-header">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a href="#/home">首页</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                商品列表
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </nz-header>
    <nz-content class="main-page-content">
        <form nz-form>
            <div nz-row nz-form-item>
            <div nz-col [nzSpan]="8">
                <div nz-form-label nz-col style="float:left;">
                    <label>商品名称</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-input [nzType]="'text'" name="goods_type" [(ngModel)]="param.goods_type" [nzPlaceHolder]="'请输入商品名称'" [nzSize]="'default'"></nz-input>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div nz-form-label nz-col style="float:left;">
                    <label>商品分类</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <!-- <nz-select style="width:100%;"  name="project_cat_id" [(ngModel)]="param.project_cat_id" [nzPlaceHolder]="'请选择合作分类'" nzShowSearch>
                      <nz-option *ngFor="let item of listData" [nzLabel]="item.cat_name" [nzValue]="item.cat_id" ></nz-option>
                    </nz-select> -->
                  <nz-cascader style="width:100%" name="project_cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="classData"
                      [(ngModel)]="param.parent">
                  </nz-cascader>
                </div>
            </div>
            <div nz-col [nzSpan]="8">
                <div nz-form-label nz-col style="float:left;">
                    <label>创建时间</label>
                </div>
                <div nz-form-control nz-col [nzSpan]="14">
                    <nz-rangepicker name="searchTime" [(ngModel)]="paramCol.searchTime" [nzPlaceholder]="['起始日期', '截止日期']"></nz-rangepicker>
                </div>
            </div>
          </div> 
          
          <div nz-row nz-form-item>
              <div class="row-actions">
                    <nz-dropdown>
                        <a class="ant-dropdown-link" nz-dropdown>
                            <button nz-button nzType="primary" *ngIf="this.service.validataAction('cw_prj_list_add')">
                                <i class="anticon anticon-plus"></i>
                                <span>新增</span>
                            </button>
                        </a>
                        <ul nz-menu>
                            <li nz-menu-item>
                            <a rel="noopener noreferrer" (click)="selRow.goods_type=1;add()" >纸质图书</a>
                            </li>
                            <li nz-menu-item>
                            <a rel="noopener noreferrer" (click)="selRow.goods_type=2;add()">音视频</a>
                            </li>
                            <li nz-menu-item>
                            <a rel="noopener noreferrer" (click)="selRow.goods_type=3;add()">电子书</a>
                            </li>
                        </ul>
                    </nz-dropdown>
                  
              </div>
              <div class="row-questions">
                  <button nz-button nzType="primary" (click)="reload(true)">
                      <i class="anticon anticon-search"></i>
                      <span>查询</span>
                  </button>
                  <button nz-button nzType="" (click)="resetForm()">
                      <span>重置</span>
                  </button>
              </div>
          </div>
        </form>
        <nz-table #nzTable  nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="data" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
        [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;load($event)"
        (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;load($event)">
          <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th [nzWidth]="'20%'">
                <span>商品信息</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>商品分类</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>商品标签</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>售价（元）</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>上架状态</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
                <span>品牌标签</span>
            </th>
            <th nz-th [nzWidth]="'20%'">
                <span>操作</span>
            </th>
          </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td nzCheckbox>
                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                </label>
              </td>
              <td nz-td nz-row>
                  <!-- <span>{{data.project_name}}</span> -->
                  <div nz-col [nzSpan]="6" style="float:left;border:1px #ddd dashed;height:60px;margin-bottom:15px;background: #f5f8fa;">
                      <img src="{{service.ctxPath + data.goods_cover_small}}" alt="" style="float:left;width:100%;height:100%;">
                  </div>
                  <div nz-col [nzSpan]="18" style="padding:10px;">
                      <p>商品名称:<span [innerHtml]="data.goods_name"></span></p>
                      <p>商品类型:<span [innerHtml]="['实体书','音视频','电子书'][data.goods_type-1]"></span></p>
                  </div>
              </td>
              <td nz-td>
                  <span>{{data.goods_cat_id}}</span>
              </td>
              <td nz-td>
                  <span>{{data.tag_names}}</span>
              </td>
              <td nz-td>
                  <span>{{data.price}}</span>
              </td>
              <td nz-td>
                  <nz-switch [nzSize]="'small'" [ngModel]="data.enabled == 1" (click)="_enabled(data)"></nz-switch>
              </td>
              <td nz-td>
                  <span>{{get_tagName(data.goods_brand_id)}}</span>
              </td>
              <td nz-td>
                <span *ngIf="this.service.validataAction('cw_goods_list_edit')">
                  <a (click)="edit(data)">修改</a>
                  <span nz-table-divider></span>
                </span>
                <span >
                  <a (click)="show(data)">查看</a>
                  <span nz-table-divider></span>
                </span>
                <span *ngIf="this.service.validataAction('cw_goods_list_del')">
                    <nz-popconfirm [nzTitle]="'确定取消吗?'" (nzOnConfirm)="del(data)">
                      <a nz-popconfirm>删除</a>
                    </nz-popconfirm>
                </span>
              </td>
            </tr>
          </tbody>
      </nz-table>
    </nz-content>
  </nz-layout> 
  
  <nz-modal [nzMaskClosable]="false" [nzWidth]="800" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="modalContent"
  [nzVisible]="isVisibleMiddle" (nzOnCancel)="handleCancelMiddle($event)" (nzOnOk)="handleOkMiddle($event)" [nzTitle]="formTitle">
    <ng-template #modalContent>
        <form nz-form [formGroup]="myForm" (ngSubmit)="_submitForm()" class="ditForm">
        <div nz-form-item nz-row style="margin-bottom:0;">
            <div nz-col [nzSpan]="12">
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-form-label>
                        <label nz-form-item-required>商品名称</label>
                    </div>
                    <div nz-form-control>
                        <nz-input formControlName="goods_name"  [nzType]="'text'" [(ngModel)]="selRow.goods_name" [nzPlaceHolder]="'请填写商品名称'"></nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-form-label>
                        <label nz-form-item-required>商品分类</label>
                    </div>
                    <div nz-form-control>
                        <!-- <nz-input formControlName="goods_cat_id"  [nzType]="'text'" [(ngModel)]="selRow.goods_name" [nzPlaceHolder]="'请填写图书名称'"></nz-input> -->
                        <nz-cascader style="width:100%" formControlName="goods_cat_id" nzChangeOnSelect [nzPlaceHolder]="'请选择'" [nzValueProperty]="'cat_id'" [nzLabelProperty]="'cat_name'" [nzOptions]="classData"
                            [(ngModel)]="selRow.parent">
                        </nz-cascader>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-col [nzSpan]="12" style="padding-right:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label nz-form-item-required>标签</label>
                            </div>
                            <div nz-form-control>
                                <nz-select style="width:100%;" formControlName="goods_tag_ids" nzTags [nzPlaceHolder]="'请选择'" [(ngModel)]="selRow.goods_tag_ids" [nzNotFoundContent]="'无法找到'" nzShowSearch>
                                    <nz-option *ngFor="let item of tagData" [nzLabel]="item.tag_name" [nzValue]="item.tag_id"></nz-option>
                                </nz-select>   
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" style="padding-left:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label>关键字</label>
                            </div>
                            <div nz-form-control>
                                <nz-input formControlName="key_word"  [nzType]="'text'" [(ngModel)]="selRow.key_word" [nzPlaceHolder]="'请填写关键字'"></nz-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                        <div nz-col [nzSpan]="12" style="padding-right:10px;">
                            <div nz-form-item nz-row class="notErrMsg" >
                                <div nz-form-label>
                                    <label>标准书号</label>
                                </div>
                                <div nz-form-control>
                                    <nz-input formControlName="book_isbn"  [nzType]="'text'" [(ngModel)]="selRow.book_isbn" [nzPlaceHolder]="'请填写标准书号'"></nz-input>
                                </div>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12" style="padding-left:10px;">
                            <div nz-form-item nz-row class="notErrMsg" >
                                <div nz-form-label>
                                    <label>出版社</label>
                                </div>
                                <div nz-form-control>
                                    <nz-input formControlName="publisher"  [nzType]="'text'" [(ngModel)]="selRow.publisher" [nzPlaceHolder]="'请填写出版社'"></nz-input>
                                </div>
                            </div>
                        </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-col [nzSpan]="12" style="padding-right:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label>作者/译者</label>
                            </div>
                            <div nz-form-control>
                                <nz-input formControlName="author_name"  [nzType]="'text'" [(ngModel)]="selRow.author_name" [nzPlaceHolder]="'请填写作者/译者'"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" style="padding-left:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label>出版时间</label>
                            </div>
                            <div nz-form-control>
                                <nz-datepicker formControlName="publish_date" [(ngModel)]="selRow.publish_date" [nzPlaceHolder]="'出版时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" style="width:100%;"></nz-datepicker>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" >
                    <div nz-col [nzSpan]="8" style="padding-right:10px;">
                        <nz-input formControlName="price"  [nzType]="'text'" (ngModelChange)="sum()" [(ngModel)]="selRow.price" [nzPlaceHolder]="'售价'">
                            <ng-template #addOnBefore>售价</ng-template>
                        </nz-input>
                    </div>
                    <div nz-col [nzSpan]="6" style="padding-left:10px;">
                        <nz-input formControlName="discount"  [nzType]="'text'" (ngModelChange)="sum()"  [(ngModel)]="selRow.discount" [nzPlaceHolder]="'折扣'">
                            <ng-template #addOnBefore>折扣</ng-template>
                        </nz-input>
                    </div>
                    <div nz-col [nzSpan]="10" style="padding-left:10px;">
                        <nz-input formControlName="real_price"  [nzType]="'text'" [(ngModel)]="selRow.real_price"  nzReadonly>
                            <ng-template #addOnBefore>折后售价<i>¥</i></ng-template>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item nz-row class="notErrMsg" *ngIf="selRow.goods_type==1">
                    <div nz-col [nzSpan]="12" style="padding-right:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label>库存</label>
                            </div>
                            <div nz-form-control>
                                <nz-input formControlName="inventory"  [nzType]="'text'" [(ngModel)]="selRow.inventory" [nzPlaceHolder]="'请填写库存'"></nz-input>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSpan]="12" style="padding-left:10px;">
                        <div nz-form-item nz-row class="notErrMsg" >
                            <div nz-form-label>
                                <label>限购数</label>
                            </div>
                            <div nz-form-control>
                                    <nz-input formControlName="limit_buy"  [nzType]="'text'" [(ngModel)]="selRow.limit_buy" [nzPlaceHolder]="'请填写限购数'"></nz-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col [nzSpan]="12">
                <div class="userHead" style="text-align:center;float:left;width:100%;padding:25px 50px;">
                    <div class="uimg" style="float:left;border:1px #ddd dashed;height:160px;width:100%;margin-bottom:15px; background: #f5f8fa;">
                        <img *ngIf="selRow.goods_cover" src="{{ service.ctxPath + selRow.goods_cover }}" style="float:left;width:100%;height:100%;"/>
                    </div>
                    <nz-upload [nzShowUploadList]="false" (nzChange)="fileUpload($event)" [nzAccept]="'image/gif,image/jpeg,image/png,image/jpg,image/bmp'"
                        nzAction="{{service.ctxPath + '/api/system/file/upload'}}" [nzData]="{type:'admin',token:service.token}">
                        <button nz-button type="button">
                            <i class="anticon anticon-upload"></i>
                            <span>上传图书封面</span>
                        </button>
                    </nz-upload>
                </div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label>
                <label>简介</label>
            </div>
            <div nz-form-control>
                <nz-input formControlName="remark" [(ngModel)]="selRow.remark" [nzRows]="3" [nzType]="'textarea'" [nzPlaceHolder]="'请填写简介'" [nzSize]="'large'">
                </nz-input>
            </div>
        </div>
        <button style="display:none;">save</button>
        </form>
    </ng-template>
  </nz-modal>
