<nz-layout class="main-page-layout">
  <nz-header class="main-page-header">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a href="#/home">首页</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        广告分类
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-header>
  <nz-content class="main-page-content">
    <div class="tableListSearch">
      <!--表单-->
      <form nz-form>
        <!--行-->
        <div nz-row nz-form-item>
          <div class="row-actions">
            <button nz-button nzType="primary" (click)="showModalMiddle()" type="button" *ngIf="this.service.validataAction('cw_adv_class_add')">
              <i class="anticon anticon-plus"></i>
              <span>新增</span>
            </button>
            <nz-popconfirm [nzTitle]="'删除后数据无法找回,确认删除吗？'" (nzOnConfirm)="delRows()" [nzPlacement]="'bottom'" *ngIf="this.service.validataAction('cw_adv_class_del')">
              <button nz-popconfirm nz-button nzType="danger" type="button">
                <i class="anticon anticon-delete"></i>
                <span>删除</span>
              </button>
            </nz-popconfirm>
          </div>
        </div>
      </form>
      <nz-table #nzTable nzShowSizeChanger [nzShowTotal]="true" [nzAjaxData]="tableData" [nzLoading]="_loading" [nzPageSize]="param.pageSize"
        [nzPageIndex]="param.pageNum" [nzTotal]="param.total" (nzPageIndexChangeClick)="param.pageNum=$event;reload($event)"
        (nzPageSizeChange)="param.pageNum=1;param.pageSize=$event;reload($event)">
        <thead nz-thead>
          <tr>
            <th nz-th nzCheckbox>
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th [nzWidth]="'20%'">
              <span>分类名称</span>
            </th>
            <th nz-th [nzWidth]="'30%'">
              <span>备注</span>
            </th>
            <th nz-th [nzWidth]="'15%'">
              <span>创建日期</span>
            </th>
            <th nz-th [nzWidth]="'10%'">
              <span>排序</span>
            </th>
            <th nz-th [nzWidth]="'20%'">
              <span>操作</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td nzCheckbox>
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)"></label>
            </td>
            <td nz-td>
              <span>{{data.adv_cat_name}}</span>
            </td>
            <td nz-td>
              <span>{{data.adv_cat_remark}}</span>
            </td>
            <td nz-td>
              <span>{{data.create_time}}</span>
            </td>
            <td nz-td>
              <span>{{data.order_weight}}</span>
            </td>
            <td nz-td>
              <ng-container *ngIf="this.service.validataAction('cw_adv_class_edit')">
                <a href="javascript:void(0)" (click)="showModalMiddle(data)">修改</a>
                <span nz-table-divider *ngIf="this.service.validataAction('cw_adv_class_del')"></span>
              </ng-container>
              <nz-popconfirm [nzTitle]="'确定要删除这条信息吗？'" (nzOnConfirm)="_delete(data.adv_cat_id)" [nzPlacement]="'left'" *ngIf="this.service.validataAction('cw_adv_class_del')">
                <a nz-popconfirm>删除</a>
              </nz-popconfirm>

            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </nz-content>
</nz-layout>


<nz-modal [nzMaskClosable]="false" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="modalContent" [nzVisible]="isVisibleMiddle"
  [nzWidth]="620" [nzTitle]="formTitle" (nzOnCancel)="handleCancelMiddle($event)" (nzOnOk)="handleOkMiddle($event)">
  <ng-template #modalContent>
    <form nz-form [formGroup]="myForm" (ngSubmit)="_submitForm()" class="ditForm">
      <div nz-form-item nz-row>
        <div nz-form-label>
          <label>分类名称</label>
        </div>
        <div nz-form-control nzHasFeedback>
          <nz-input formControlName="adv_cat_name" [(ngModel)]="formBean.adv_cat_name"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label>
          <label>排序</label>
        </div>
        <div nz-form-control nzHasFeedback>
          <nz-input formControlName="order_weight" [(ngModel)]="formBean.order_weight"></nz-input>
        </div>
      </div>
      <div nz-form-item nz-row>
        <div nz-form-label>
          <label>备注</label>
        </div>
        <div nz-form-control nzHasFeedback>
          <nz-input [nzType]="'textarea'" [nzRows]="'4'" formControlName="adv_cat_remark" [(ngModel)]="formBean.adv_cat_remark"></nz-input>
          <nz-input formControlName="adv_cat_code" [(ngModel)]="formBean.adv_cat_code" [nzType]="'hidden'"></nz-input>
          <nz-input formControlName="adv_cat_id" [(ngModel)]="formBean.adv_cat_id" [nzType]="'hidden'"></nz-input>
          <nz-input formControlName="create_time" [(ngModel)]="formBean.create_time" [nzType]="'hidden'"></nz-input>
          <nz-input formControlName="is_delete" [(ngModel)]="formBean.is_delete" [nzType]="'hidden'"></nz-input>
          <nz-input formControlName="update_time" [(ngModel)]="formBean.update_time" [nzType]="'hidden'"></nz-input>
        </div>
      </div>

      <button style="display:none;">save</button>
    </form>

  </ng-template>
</nz-modal>